@font-face{
  font-family: 'Upheavtt';
  src: url('/assets/upheavtt.ttf');
}

canvas{
  display: block;
  margin: 3em auto;
  border: solid white 5px;
  border-radius: 20px;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Upheavtt';
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/galaxy.png');
  background-repeat: repeat;
}

p{
  font-size: 1em;
  text-align: center;
  color: white;
}